*{
    margin : 0;
    padding: 0;
}

body{
    min-height: 100vh;
    /* ackground-image: url (jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav{
    background-color: #362613;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
    position: sticky;
    overflow: hidden;
    top: 0;

}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;

}

nav a:hover{
    background-color: rgb(102, 74, 42);

}

nav li:first-child{
    margin-right: auto;

}

.thin-separator {
    width: 95%; /* Adjust width as needed */
    margin: 10px auto; /* Centering the separator */
    border: none;
    border-top: 2px solid #EED6C0; /* Adjust thickness and color */
}



.work-info h2 {
    display: flex;
    justify-content: left;
    align-items: right;
    gap: 8rem;
    padding: 6px;

}
 h4{
    padding: 10px;

}
 h6{
    margin-left: 11px;
    margin-top: -8px;;
}

 .workcontainer p {
    padding: 10px;

}
.work-info p{
    padding: 4px;
   
}

.courseinfo {
    margin-left: 11px;
    margin-top: -8px;;

}

.educationcontainer{
    padding: 5px;
    margin: 1rem;
    background-color:rgb(223, 221, 221);


}
.workcontainer {
    padding: 5px;
    margin: 1rem;
    background-color: rgb(223, 221, 221);

}
.educationcontainer {
    display: flex;
    align-items: center;
}

.educationcontainer img{
    width: 190px;
    height: 200px;
    display: flex;
    border-radius: 30%;
}
.educationcontainer h2{
    flex: 1;
    margin-bottom: 6rem;

}
.education h2{
    padding-bottom: -16px;
    margin-bottom: 45px;


}
.education {
    padding: 3px;
    margin: 6px;
    
}

.education p{
    padding-left: 10px;

}
.education pre{
    padding-left: 10px;

}

.skillscontainer{
    padding: 5px;
    margin: 1rem;
    background-color:rgb(223, 221, 221);


}

.skills p{
    padding: 5px;

}